* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    
  }
  
  .container {
    height: 100vh;
    width: 100%;
    background: url('../res/img/background_prebuilt.jpg');
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    position: relative;
    overflow: scroll;

  }

  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    color: #fff;
    padding: 10px 0;
  }

  ul li {
    list-style-type: none;
    margin: 0 1rem;
    display: inline-block;
  }
  
  ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    position: relative;
  }
  
  .content {
    padding: 0 4rem;
    position: relative;
  }
  
  .info{
    font-weight: 300;
    color: #fff;
    
  }
  .CPU{
    text-align: center;
    margin: 20px;
    padding: 70px;
    background-color: blueviolet;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
  }
  .CPU:hover{
    transform: scale(1.05)
  }
  .GPU{
    text-align: center;
    margin: 20px;
    padding: 70px;
    background-color: blueviolet;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
  }
  .GPU:hover{
    transform: scale(1.05)
  }
  .MONITOR{
    text-align: center;
    margin: 20px;
    padding: 70px;
    background-color: blueviolet;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
  }
  .MONITOR:hover{
    transform: scale(1.05)
  }
  .MOTHERBOARD{
    text-align: center;
    margin: 20px;
    padding: 70px;
    background-color: blueviolet;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
  }
  .MOTHERBOARD:hover{
    transform: scale(1.05)
  }
  .RAM{
    text-align: center;
    margin: 20px;
    padding: 70px;
    background-color: blueviolet;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
  }
  .RAM:hover{
    transform: scale(1.05)
  }
  