* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    
  }
  
  .container {
    height: 100vh;
    width: 100%;
    background: url('../res/img/background_prebuilt.jpg');
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    position: relative;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    color: #fff;
    padding: 10px 0;
  }

  ul li {
    list-style-type: none;
    margin: 0 1rem;
    display: inline-block;
  }
  
  ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    position: relative;
  }
  
  .content {
    padding: 0 4rem;
    position: relative;
  }
  @import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
.main_card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.main_card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.main_card img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.main_card figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.main_card figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}

.main_card .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.main_card .date span {
  display: block;
  line-height: 14px;
}

.main_card .date .month {
  font-size: 11px;
}

.main_card h3,
.main_card p {
  margin: 0;
  padding: 0;
}

.main_card h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.main_card p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.main_card a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.main_card:hover img,
.main_card.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
