* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  
  }
 
  body {
    background:url('res/img/background_build_your_own_pc.jfif') center no-repeat;
    background-size: cover;
    background-attachment:fixed;
    }

  .container {
    height: 100vh;
    width: 100%;
    background-position: center;  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-clip: border-box;
    position: relative;
  }

  .inline{
    display: inline;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    color: #fff;
    padding: 10px 0;
  }
  h1 {
    font-size: 3.5rem;
    font-family: serif;
    cursor: pointer;
    box-shadow: 1px 1px 5px 5px #fff;
  }
  
  ul li {
    list-style-type: none;
    margin: 0 1rem;
    display: inline-block;
  }
  
  ul li a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 0, 0);
    position: relative;
  }
  
  .content {
    padding: 0 4rem;
    position: relative;
  }
  
  .button {
    background-color: rgba(255, 255, 255, 0);
    color: red;
    border-radius: 1px 2px;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: all 0.6s ease;
  }
  
  .button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    box-shadow: 0 0 2px 3px #fff;
  }
  
  h2 {
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    margin-top: 9rem;
  }
  
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 2.4rem;
    }
  
    .button {
      left: 0;
    }
  
    h1 {
      font-size: 2.9rem;
    }
  }
  
  @media screen and (max-width: 350px) {
    .button {
      width: 100%;
      font-size: 1rem;
    }
  
    h2 {
      font-size: 2rem;
    }
  }
  table {
    width: 100%;
  }
 td{
   text-align: center;
 }
 th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  }
  tr:hover {background-color: rgb(255, 255, 255);}



.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  position: fixed;
  right: 1%;
  bottom: 0;
  width: 100%;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  background-color: rgba(225, 236, 18, 0.7);
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}

.card {
  margin: 30px auto;
  width: 400px;
  height: 100px;
  border-radius: 40px;
  background-color: (rgb(8, 44, 190));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 1.0s;
}
